body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

:root {
    --main-color: #eddeff;
    --second-color: #f9ea85;
}

.container {
    /* min-height: 700px;
    flex-wrap: wrap;
    background-image: url(heart.jpg); 
    border-left: 60px solid var(--main-color);
    background-repeat: repeat;
    background-size: 90px;
    background-position: left;*/
    display: flex;
    height: 100vh;
    background-color: #eddeff;


}

.addNotes {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}

.screen-backdrop {
    width: 100%;
    height: 30rem;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0 0 50% 50%;
    background-color: #f9ea85;
    z-index: 1;
}

.info {
    z-index: 2;
}

.addNotes h1 {
    text-transform: capitalize;
    text-align: center;
    font-weight: 500;
    color: #8568a8;
    margin-bottom: 5px;

}

.addNotes p {
    width: 400px;
    height: 110px;
    background-color: aliceblue;
    border: 1px solid var(--main-color);
    border-radius: 2em;
    outline: none;
    display: flex;
    justify-content: center;
    margin: 0;
}



.notesList {
    width: 60%;
    padding: 20px 40px;
    background-color: aliceblue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.notesList .note {
    width: 250px;
    height: 250px;
    background-color: var(--main-color);
    border-radius: 10px;
    overflow: hidden;
    overflow-y: auto;
    cursor: pointer;
    word-wrap: break-word;
    text-align: center;
    padding: 20px;
    box-shadow: 3px 4px 13px -4px gray;
}